h1 {
    text-align: center;
    color: blue;
}

h2 {
    text-align: center;
    color: blue;
}
body {
    border: 5px solid gray;
    margin: 100px;
    background-color: burlywood;
    width: 80%;
    
}

header {
    border: 3px solid blue;
    background-color: cyan;
    text-align: center;
    
}

li {
    display: inline;
    padding: 15px;
    margin: 15;
    font-size: 1.5em;
}

img {
    width: 800px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    border: 3px solid blue;
    background-color:deepskyblue;
    font-size: 1.5em;
    text-align: center;
}